.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.stage {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 300px;
}

.item:not(.active) {
  display: none;
}

.arrows-container {
  align-items: center;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
}

.arrow {
  background: transparent;
  border: none;
  padding: 0;
}