.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.item,
.item * {
  pointer-events: none;
}

.item:not(.active) {
  display: none;
}